<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Dettagli Cliente</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <div style="margin-bottom: 50px;" class="container">
        <h1 class="fw-bolder" style="margin-top: 0px; font-size: 25px;">Scheda del cliente:</h1>
      

      <div class="container d-flex">
      <div class="col-lg-8 card mb-3" style="margin-top: 10px;margin-right: 30px;">
          <h5 class="card-body" style="margin-top: 0px;">
            <!-- Messaggio di errore -->
            <p style="font-size:100%; margin-top: 20px;" class="card-text">
                <span style="font-weight: bold;">Si è verificato un errore del tipo:</span> <span th:text="${errorMessage}"></span>
                </p>
            
          </h5>
      </div>

      </div>
    </div>
    
  
</div>
</section>
</main>
</body>
</html>