<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Contattaci</title>
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <section layout:fragment="body" class="py-5">
            <div class="container px-5 my-4">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder" style="margin-top: 0px;">Contattaci</h1>
                </div>

                <body class="contatti TabDesk TabMob tablet">
                    <div id="container">
                        <div id="center">
                            <section class="contents">
                                <div id="system-message-container">
                                </div>
                                <div class="contact" itemscope="" itemtype="http://schema.org/Person">
                                    <div class="page-header">
                                        <h2>
                                            <span class="contact-name" itemprop="name">Università Bicocca</span>
                                        </h2>
                                    </div>
                                    <div class="contact-miscinfo">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                <span class="jicons-text">
                                                
                                                </span>
                                            </dt>
                                            <dd>
                                                <span class="contact-misc">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3288176067554!2d9.217051775763181!3d45.52358822947498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c75b6effd015%3A0x359a6a310214ade3!2sU14%20-%20Universit%C3%A0%20Milano%20Bicocca%20-%20Dipartimento%20di%20Informatica%20Sistemistica%20e%20Comunicazione!5e0!3m2!1sit!2sit!4v1703782198258!5m2!1sit!2sit" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                </span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div style="margin-bottom: 50px;" class="Address ContactBox"> 					
                                        <h3>Recapiti</h3>	
                                        <dl class="contact-address d-flex" itemprop="address">
                                            <div class="contactLeft">
                                                <dt>
                                                    <span style="margin-top: 10px;" class="jicons-text">
                                                        Indirizzo:
                                                    </span>
                                                </dt>
                                                <dd>
                                                    <span class="contact-street" itemprop="streetAddress">
                                                        Viale Sarca, 336<br>
                                                    </span>
                                                </dd>
                                                <dd>
                                                    <span class="contact-suburb" itemprop="addressLocality">
                                                        Milano<br>
                                                    </span>
                                                </dd>
                                                <dd>
                                                    <span class="contact-state" itemprop="addressRegion">
                                                        (MI)<br>
                                                    </span>
                                                </dd>
                                                <dd>
                                                    <span class="contact-postcode" itemprop="postalCode">
                                                        20125<br>
                                                    </span>
                                                </dd>
                                            </div>
                                            
                                            <div style="margin-left: 100px;" class="contactLeft">    
                                                <dt >
                                                    <span class="jicons-text" itemprop="email">
                                                        Email:
                                                    </span>
                                                </dt>
                                                <dd>
                                                    <span class="contact-emailto">
                                                        <span id="cloak472f8a1951eddc3d8cc1674a5a200439"><a href="mailto:f.pulera@campus.unimib.it">f.pulera@campus.unimib.it</a><br></span>
                                                        <span id="cloak472f8a1951eddc3d8cc1674a5a200439"><a href="mailto:m.zarantonello2@campus.unimib.it">m.zarantonello2@campus.unimib.it</a><br></span>
                                                        <span id="cloak472f8a1951eddc3d8cc1674a5a200439"><a href="mailto:a.biasco@campus.unimib.it">a.biasco@campus.unimib.it</a></span>
                                                    </span>
                                                </dd>
                                            </div>
                                            
                                            <div style="margin-left: 100px;" class="contactLeft">
                                                <dt>
                                                    <span class="jicons-text">
                                                        Telefono:
                                                    </span>
                                                </dt>
                                                <dd style="margin-bottom: 50px;">
                                                    <span class="contact-telephone" itemprop="telephone">
                                                        02 89528701          
                                                    </span>
                                                </dd>
                                            </div>
                                            
                                        </dl>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </body>
            </div>
        </section>
    </main>
</body>
</html>